<html>

<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./style.css">.
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	
	<div style="margin-top: -5%; height: 35%;" align=center>
		<img src="logo"> </img>
	</div>
	
	<h3 style="font-size: 32px; text-align: center;"> Create Account </h3>
	
	<div align="center" style="margin-top: 3%;">
	<form>
		<h3 style="text-align: center; font-size: 16px;"> Enter in a valid email </h1>

		<div class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    		<input id="email" type="email" class="form-control" name="email" placeholder="Email">
  		</div>
		</br>
		<h3 style="text-align: center; font-size: 16px;"> Enter in a valid username (5+ characters) </h1>
		</br>
  		<div class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    		<input id="user" type="text" class="form-control" name="username" placeholder="Username">
  		</div>
		</br>
		<h3 style="text-align: center; font-size: 16px;"> Enter in a valid password (6+ characters with at least one capital letter and one number) </h1>
		</br>
  		<div class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    		<input id="password" type="password" class="form-control" name="password" placeholder="Password">
  		</div>
		</br>
		<h3 style="text-align: center; font-size: 16px;"> Re-enter password </h1>
		</br>
		<div class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    		<input id="password2" type="password" class="form-control" name="password2" placeholder="Password">
  		</div>
	</form>
	<button onClick="create()" type="submit" class="btn btn-primary" id="createbtn" style="margin-top: 2%;">Create Account</button>

	
<script>
    function create() {
        var email = document.getElementById("email").value;
        var username = document.getElementById("user").value;
        var pass = document.getElementById("password").value;
        var pass2 = document.getElementById("password2").value;
    
        var lowerpass = pass.toLowerCase();    
    
        if (username.length < 5) {
            alert("Username must be more than 4 characters!");
        } else if (password.length < 6) {
            alert("Password must be more than 5 characters!");
            document.getElementById("password").value="";
            document.getElementById("password2").value="";
        } else if (lowerpass == pass) {
            alert("Password must contain at least one uppercase letter!");
            document.getElementById("password").value="";
            document.getElementById("password2").value="";
        } else if(/\d/.test(pass) == false) {
            alert("Password must contain at least one number!");
            document.getElementById("password").value="";
            document.getElementById("password2").value="";
        } else if (pass != pass2) {
            alert("Passwords do not match!");
            document.getElementById("password").value="";
            document.getElementById("password2").value="";
        } else {
            $.ajax({
                url: '/api/create_account/' + email + '/' + username + '/' + pass,
                type: 'get',
                success: function(response) {

                },
                error: function(response) {
                    alert("Email or username already associated with another user!");
                }
            });
        }  
     }
</script>
</body>
</html>
