<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 80px; height: 70px; font-size: 4em; text-align: center; }
  </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid" style="height: 0%";>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web Based Remote Control | Create Template </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Create <span class="sr-only">(current)</span></a></li>
        <li><a href="#">View</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Templates">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Sign Out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>`
  </div>
</nav>


<div id="templatecontainer" style=" position: relative; width: 100%; height: 100%; margin-top:-4.5%;">
</div>

<script>
	var elements = new Array();
	var names = new Array();
	var types = new Array();
	var elementCmds = new Array();
	var heights = new Array();
	var widths = new Array();
	var mtops = new Array();
	var mlefts = new Array();

    var urlS = window.location.href;
    var url = new URL(urlS);
    var id = url.searchParams.get("layout_id");    

	$.ajax({
			url: '/api/get_layout/'+id,
			type: 'GET',
			dataType: 'json',
			success: function(data) {
                elements = data.elements;
                names = data.names;
                types = data.types;
                elementCmds = data.elementCmds;
                heights = data.heights;
                widths = data.widths;
                mtops = data.mtops;
                mlefts = data.mlefts;
                displayData(data);	
			},
			error: function(res) {
				console.log("error!");
			}
		});
	
	function displayData(data) {
		//retrieve arrays from data
        var eid;
        for (eid = 0; eid < heights.length; eid++) {
            var addthis = "";
            var blockstobottom = Math.trunc(parseInt(elements[eid][elements[eid].length - 1], 10) / 6);
            if (parseInt(elements[eid][elements[eid].length - 1], 10) % 6 == 0) {
                blockstobottom--;
            }
            console.log(blockstobottom);
            var bottom = (5 - blockstobottom) * 16.66;
           
            if (types[eid] == "Button") {
                addthis = "<button id=\"" + (names[eid] + eid) + "\"style=\"position: absolute; bottom: " + bottom + "; margin-left: " + mlefts[eid] + "%; height: " + (parseInt(heights[eid], 10))/*heights[eid]*/ + "%; width: " + widths[eid] + "%;\" type=\"button\" class=\"btn\"\"> " + names[eid] + "</button>";
            } else if (types[eid] == "Slider") {
            //addthis = "<input type=\"range\" min=\"1\" max=\"100\" value=\"50\" class=\"slider\" id=\"myRange\">"
            if (parseInt(heights[eid], 10) > parseInt(widths[eid], 10)) {
                addthis = "<input id=\"" + (names[eid] + eid) + "\"style=\"-webkit-appearance: slider-vertical; position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[eid] + "%; height: " + (parseInt(heights[eid], 10)) /*heights[eid]*/ + "%; width: " + widths[eid] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";
            } else {
                addthis = "<input id=\"" + (names[eid] + eid) + "\"style=\"position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[eid] + "%; height: " + heights[eid] + "%; width: " + widths[eid] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";

            }
            console.log(addthis);
        }
            
            document.getElementById("templatecontainer").innerHTML += addthis;

        }
        
	}


    
</script>

</body>
</html>
