<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 80px; height: 70px; font-size: 4em; text-align: center; }
  </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid" style="height: 0%";>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Web Based Remote Control | Search Templates </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/createPage">Create </a></li>
          <li><a href="/viewTemplates">View</a></li>
          <li><a href="/search"> Search </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">View Profile</a></li>
              <li><a href="#">Account Settings</a></li>
              <li><a id = "cPCBtn" href="#"> Connect to PC </a></li>
              <li><a id = "disconnectBtn" href="#"> Disconnect PC</a></li>
              <li><a href="#">Sign Out</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>

          </li>
        </ul>
      </div>`
    </div>
  </nav>


  <div id="templatecontainer" style=" position: relative; width: 100%; height: 100%; margin-top:-4.5%;">
  </div>

  <script>
        $(".btn").click(function(e) {
      alert("here!");
      var id = e.target.id;
      var cmds = elementCmds[id];
      var type = "";
      var allletters = 0;
      $.ajax({
        url: '/api/send_command',
        type: 'POST',
        dataType: 'json',
        data: {
          command: cmds
        },
        success: function(data) {

        },
        error: function(res) {
          console.log("error!");
        }
      });
    });




  var elements = new Array();
  var names = new Array();
  var types = new Array();
  var elementCmds = new Array();
  var heights = new Array();
  var widths = new Array();
  var mtops = new Array();
  var mlefts = new Array();

  var urlS = window.location.href;
  var url = new URL(urlS);
  var id = url.searchParams.get("layout_id");
  //alert(id);
  $( document ).ready(function() {
    console.log( "ready!" );
    connectPC();
  });
/*
      $(".btn").click(function(e) {
      alert("here!");
      var id = e.target.id;
      var cmds = elementCmds[id];
      var type = "";
      var allletters = 0;
      $.ajax({
        url: '/api/send_command',
        type: 'POST',
        dataType: 'json',
        data: {
          command: cmds
        },
        success: function(data) {

        },
        error: function(res) {
          console.log("error!");
        }
      });
    });
*/
  function displayData(data) {
    //retrieve arrays from data
    var eid;
    for (eid = 0; eid < heights.length; eid++) {
      var addthis = "";
      var blockstobottom = Math.trunc(parseInt(elements[eid][elements[eid].length - 1], 10) / 6);
      if (parseInt(elements[eid][elements[eid].length - 1], 10) % 6 == 0) {
        blockstobottom--;
      }
      console.log(blockstobottom);
      var bottom = (5 - blockstobottom) * 16.66;

      if (types[eid] == "Button") {
        addthis = "<button id=\"" + eid + "\"style=\"position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[eid] + "%; height: " + (parseInt(heights[eid], 10))/*heights[eid]*/ + "%; width: " + widths[eid] + "%;\" type=\"button\" class=\"btn\"\"> " + names[eid] + "</button>";
      } else if (types[eid] == "Slider") {
        //addthis = "<input type=\"range\" min=\"1\" max=\"100\" value=\"50\" class=\"slider\" id=\"" + eid + "\">"
        if (parseInt(heights[eid], 10) > parseInt(widths[eid], 10)) {
          addthis = "<input onChange=slid(this.value) id=\"" + eid + "\"style=\"-webkit-appearance: slider-vertical; position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[eid] + "%; height: " + (parseInt(heights[eid], 10)) /*heights[eid]*/ + "%; width: " + widths[eid] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";
        } else {
            addthis = "<input onChange=slid(this.value, this.id) id=\"" + (names[eid] + eid) + "\"style=\"position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[eid] + "%; height: " + heights[eid] + "%; width: " + widths[eid] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";
            
}
        console.log(addthis);
      }

      document.getElementById("templatecontainer").innerHTML += addthis;

    }
    }
    /*
    function slid(value, eid) {
      var cmds = elementCmds[id];
      $.ajax({
        url: '/api/send_command',
        type: 'POST',
        dataType: 'json',
        data: {
          command: cmds
        },
        success: function(data) {

        },
        error: function(res) {
          console.log("error!");
        }
      });

      $("input").on('slide', function(e) {
        var id = e.target.id;
        //alert(id);
      });

    }
*/
  function setCookie(cname,cvalue,exmins) {
    var d = new Date();
    console.log("d = "+ d);
    d.setTime(d.getTime() + (exmins* 60 * 1000));
    //d.setTime(d.getTime() + 10);
    console.log(d.toUTCString());
    var expires = "expires=" + d.toUTCString();
    console.log(expires);
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }



  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function connectPC() {
    var wsConnection = getCookie("WSconnect");
    if (wsConnection == "true") {
      alert("You're connected to WS PC!");
      loadLayout();
    } else {
      var key = prompt("Please enter your key from PC:","");
      if (key == null || key.length != 4){
        alert("key must be 4 digit!");
        window.location.href = "https://applepie.albert.tech/viewTemplates";
      }
      else {
        console.log(key);

        $.ajax({
          url: '/api/wss_connect',
          type: 'POST',
          data: {
            'connectionKey': key
          },
          success: function(res) {
            setCookie("WSconnect", true, 20);
            alert("You're now connected to your PC!");
            loadLayout();
          },
          error: function(res) {
            //var msg = JSON.stringify(res);
            alert("Connect to PC failed!");
            window.location.href = "https://applepie.albert.tech/viewTemplates";
          }

        });

      }
    }
  }//end of function

  function loadLayout(){
    $.ajax({
      url: '/api/get_layout/'+id,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        elements = data.elements;
        names = data.names;
        types = data.types;
        elementCmds = data.elementCmds;
        heights = data.heights;
        widths = data.widths;
        mtops = data.mtops;
        mlefts = data.mlefts;
        displayData(data);
        //connectPC();
      },
      error: function(res) {
        console.log("error!");
      }
    });
  }
</script>

</body>
</html>
