<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Web Based Remote Control | Profile </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/createPage">Create Template<span class="sr-only">(current)</span></a></li>
        <li><a href="#">View Template</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Templates">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= email %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">View Profile</a></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Sign Out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="profileinfo" class="jumbotron">
  <h1 style="text-align: center;">User Information</h1>
  <p> Account Creation Date: </p>
  <p> Email: </p>
  <p> Username: </p>
  <p> Total templates made: </p>
  <p> Total public templates: </p>
  <p> Total templates saved: </p>
  <p><a href="/resetPassword">Reset Password</a></p>
  <p><a href="/deleteAccount">Delete account</a></p>
</div>
<!--
<div class="row" style="float:right;">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
      <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
      <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
-->


<div id="recentmade" class = "row">
   <h2 id=recTitle"> Most Recently Created Templates </h2>
   <div class = "col-sm-6 col-md-3">
      <h3 id="mediaplayer"> Media Player </h3>
      <div class = "thumbnail">
        <ol>
         <li><img  src = "/media_pause.png"></li>
         <li><img  src = "/media_play.png"></li>
         <li><img  src = "/media_stop.png"></li>
        <ol>
        <ol>
           <li><img  src = "/fast_forward.png"></li>
           <li><img  src = "/fast_backward.png"></li>
        <ol>
      </div>

      <div class = "caption">
         <p>Control media playing on PC.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               Save
            </a>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <h3 id="rec2"> N/A </h3>
      <div class = "thumbnail">
         <img src = "/bootstrap/images/kittens.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <p>Some sample text. Some sample text.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Save
            </a> 
            
            <a href = "#" class = "btn btn-default" role = "button">
               View
            </a>
         </p>
         
      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <h3 id="rec3"> N/A </h3>
      <div class = "thumbnail">
         <img src = "/bootstrap/images/kittens.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
         <p>Some sample text. Some sample text.</p>
         
         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a> 
            
            <a href = "#" class = "btn btn-default" role =" button">
               Save
            </a>
         </p>
      </div>
   </div>   
</div>

<div id="userfav" class = "row">
   <h2 id=recTitle"> Most Used Templates </h2>
   <div class = "col-sm-6 col-md-3">
      <h3 id="rec1"> N/A </h3>
      <div class = "thumbnail">
         <img src = "/bootstrap/images/kittens.jpg" alt = "Generic placeholder thumbnail">
      </div>

      <div class = "caption">
         <p>Some sample text. Some sample text.</p>

         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a>

            <a href = "#" class = "btn btn-default" role = "button">
               Save
            </a>
         </p>

      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <h3 id="rec2"> N/A </h3>
      <div class = "thumbnail">
         <img src = "/bootstrap/images/kittens.jpg" alt = "Generic placeholder thumbnail">
      </div>

      <div class = "caption">
         <p>Some sample text. Some sample text.</p>

         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               Save
            </a>

            <a href = "#" class = "btn btn-default" role = "button">
               View
            </a>
         </p>

      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <h3 id="rec3"> N/A </h3>
      <div class = "thumbnail">
         <img src = "/bootstrap/images/kittens.jpg" alt = "Generic placeholder thumbnail">
      </div>

      <div class = "caption">
         <p>Some sample text. Some sample text.</p>

         <p>
            <a href = "#" class = "btn btn-primary" role = "button">
               View
            </a>

            <a href = "#" class = "btn btn-default" role =" button">
               Save
            </a>
         </p>
      </div>
   </div>
</div>

<script>
	$(document).ready(function () {
		$('.dropdown-toggle').dropdown();
	});
    
    function logout() {
        $.ajax({
            url: '/api/logout',
            success: function(res) {
                window.location.href = "/";
            }
        });
    }
</script>

</body>

</html>
