<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Web Based Remote Control | Profile</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Create Template<span class="sr-only">(current)</span></a></li>
        <li><a href="#">View Template</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Templates">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">View Profile</a></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Sign Out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- reset password section starts here -->

<h2 style="font-size: 32px; text-align: center;"> Reset Passwoard </h2>
<div align="center" style="margin-top: 3%;">
<form>
  <label style="font-size: 16px;"> Enter current password: </label>
  </br>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="oldPass" type="password" class="form-control" name="password" placeholder="Password">
    </div>
  </br>
  <label style="font-size: 16px;"> Enter new password: </label>
  </br>
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="newPass" type="password" class="form-control" name="password" placeholder="Password">
   </div>
  </br>
  <label style="font-size: 16px;"> Confirm new password: </label>
  </br>
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="newPass2" type="password" class="form-control" name="password2" placeholder="Password">
   </div>
 </form>
  <p id = "helpText">
    Valid Password Need to have:</br>
    at least one number</br>
    at least one Uppercase letter</br>
    at least five character</br>
  </p>
  <button type="submit" class="btn btn-primary" id="resetbtn" style="margin-top: 1%;"> Submit </button>



<script>
	$(document).ready(function () {
		$('.dropdown-toggle').dropdown();
    		document.getElementById("resetbtn").addEventListener("click", function(){
      			var oldPass = document.getElementById("oldPass").value;
      			var newPass = document.getElementById("newPass").value;
      			var newPass2 = document.getElementById("newPass2").value;
      			console.log(oldPass);
      			console.log(newPass);
      			console.log(newPass2);
		        if(oldPass && newPass && newPass2 && newPass == newPass2){
			  if(validatePassword(oldPass, newPass)){
			    $.ajax({
			      url: '/api/change_password',
			      type: 'POST',
			      data: {
				  'oldPassword' : oldPass,
				  'newPassword' : newPass
			      },
			      success: function(response) {
				alert("success!");
				window.location.href = 'https://applepie.albert.tech/profile';
			      },
			      error: function(response) {
				alert("Reset Password failed!");
			      }
			    });
			}
		      }//end if
   		  });
		});
	

 
  function validatePassword(oldPass, newPass){
    var lowerPass = newPass.toLowerCase();
    if (newPass.length < 6) {
        alert("Password must be more than 5 characters!");
        clearInput();
        return false;
      } else if (/\d/.test(newPass) === false) {
            alert("Password must contain at least one number!");
            clearInput();
            return false;
      } else if (lowerPass === newPass) {
          alert("Password must contain at least one uppercase letter!");
          clearInput();
          return false;
      } else if (oldPass === newPass){
          alert("new Password must be different from the old password!");
          clearInput();
          return false;
      }
    return true;
  }//end func validatePassword

  function clearInput() {
    document.getElementById("newPass").value = "";
    document.getElementById("oldPass").value = "";
    document.getElementById("newPass2").value = "";
  }

</script>

</body>

</html>
