<html>
<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 80px; height: 70px; font-size: 4em; text-align: center; }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Web Based Remote Control | View Designs </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Create <span class="sr-only">(current)</span></a></li>
        <li><a href="#">View</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Templates">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li><a href="#">Account Settings</a></li>
            <li><a href="#">Sign Out</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="dropdown" id="sortbybtn">
  <button style="width: 8%;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Highest Score</a>
    </br>
    <a class="dropdown-item" href="#">Newest</a>
   
  </div>
</div>
<div id="templates">
		<table id="searchtable" style="width: 100%; border: none;">
			<tr>
				<td style="width: 10%;"> Score </td>
				<td style="width: 20%;"> Name </td>
				<td style="width: 30%;"> Description </td>
				<td style="width: 20%;"> Date </td>
				<td style="width: 20%;"> Actions </td>
			</tr>
			
			  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Design Preview</h4>
        </div>
        <div class="modal-body">
          <div id="currentdesign" style="margin-top: 1%; width: 90%;">
			
        </div>
        <div style="border:none;" class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>
			
			</tr>
		</table>
<div class="form-group">

<script>
var layouts;
$.ajax({
  url: '/api/get_posts/date',
  type: 'GET',
  dataType: 'json',
  success: function(data) {
    layouts = data;
for (var i = 0; i < layouts.length; i++) {
    var score = layouts[i].score;
    var name = layouts[i].layout_name;
    var description = layouts[i].layout_description;
    var id = layouts[i].id;
    var date = layouts[i].age;
    var d = new Date(0);
    d.setUTCSeconds(date);
    date = d;
    var upvote = "upvote" + id;
    var downvote = "downvote" + id;
    var preview = "preview" + id;
    var save = "save" + id;
    var addthis = "<tr>\n" +
                "<td id=\"score" + id + "\" style=\"width: 10%;\"> " + score + " </td>\n" +
                "<td id=\"name" + id + "\" style=\"width: 20%;\"> " + name + " </td>\n" +
                "<td id=\"desc" + id + "\" style=\"width: 30%;\"> " + description + " </td>\n" +
                "<td id=\"date" + id + "\" style=\"width: 20%;\"> " + date + " </td>\n" +
                "<td style=\"width: 20%;\">\n" +
                "<button ocClick=\"save(this.id.substring(4))\"id=\"" + save + "\" class=\"btn\"> Save </button>\n" + 
                "<button onClick=\"upvote(this.id.substring(6))\" id=\"" + upvote + "\" class=\"btn\"> Upvote </button>\n" +
                "<button onClick=\"downvote(this.id.substring(8))\" id=\"" + downvote + "\" class=\"btn\"> Downvote </button>\n" +
                "<button onClick=\"preview(this.id.substring(7))\" id=\"" + preview + "\" class=\"btn\" data-toggle=\"modal\" data-target=\"#myModal\"> Preview </button>\n" +
                "</td>\n" +
                "</tr>"
    document.getElementById("searchtable").innerHTML += addthis;
    }
    },
    error: function(res) {
    console.log("Error!");
  }
});

function preview(bid) {
    $.ajax({
        url: '/api/get_layout/' + bid,
        type: 'GET',
        success: function(data) {
            var elements = data.elements;
            var heights = data.heights;
            var mlefts = data.mlefts;
            var mtops = data.mtops;
            var widths = data.widths;
            var names = data.names;
            var types = data.types;
            var addthis = "";
            for (var i = 0; i < data.elements.length; i++) {
                var blocksbottom = Math.trunc(parseInt(elements[i][elements[i].length - 1], 10) / 6);
                if (parseInt(elements[i][elements[i].length - 1] % 6 == 0)) {
                    blocksbottom--;   
                }
                var bottom = (5 - blocksbottom) * 16.66;
                if (elements[i][elements[i].length - 1] / 6 == 6) {
                    bottom == 0;
                }
                if (types[i] == "Button") {
                     addthis = "<button id=\"" + (names[i] + bid) + "\"style=\"position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[i] + "%; height: " + heights[i] + "%; width: " + widths[i] + "%;\" type=\"button\" class=\"btn\"\"> " + names[i] + "</button>";
                } else if (types[i] == "Slider") {
                if (heights[i] > widths[i]) {
                    addthis = "<input id=\"" + (names[i] + bid) + "\"style=\"-webkit-appearance: slider-vertical; position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[i] + "%; height: " + heights[i] + "%; width: " + widths[i] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";
                } else {
                    addthis = "<input id=\"" + (names[i] + bid) + "\"style=\"position: absolute; bottom: " + bottom + "%; margin-left: " + mlefts[i] + "%; height: " + heights[i] + "%; width: " + widths[i] + "%;\" type=\"range\" min=\"1\" max=\"100\" value=\"50\"\" class=\"slider\"> </input>";

               }
            }  
            document.getElementById('currentdesign').innerHTML += addthis;

           }
        }
    });
}

$('#myModal').on('hidden.bs.modal', function() {
    document.getElementById('currentdesign').innerHTML = '';
});

function upvote(bid) {
$.ajax({
    url: '/api/check_vote_post/' + bid,
    type: 'GET',
    success: function(data) {
    if (data < 1) {
    $.ajax({
        url: '/api/vote_post',
        type: 'POST',
        data: {
            vote: 1,
            layout_id: bid
        },
        success: function(res) {
            $.ajax({
                url: 'api/get_layout/' + bid,
                success: function(data) {
                document.getElementById("score" + bid).innerText=res;    
                //document.getElementById("score" + bid).innerHTML = parseInt(document.getElementById("score" + bid).value, 10) + 1;
                }
            });
         }
    })
    };
    }
});
}

function downvote(bid) {
$.ajax({
     url: '/api/check_vote_post/' + bid,
     type: 'GET',
     success: function(data) { 
     if (data > -1) {
     $.ajax({
        url: '/api/vote_post',
        type: 'POST',
        data: {
            vote: -1,
            layout_id: bid
        },
        success: function(data) {       
                    $.ajax({
                        url: 'api/get_layout/' + bid,
                        success: function(data) {
                            document.getElementById("score" + bid).innerText=parseInt(document.getElementById('score' + bid).innerText,10) - 1;
                        //document.getElementById("score" + bid).innerHTML = data;
                        }
                    });
                 },
                error: function(data) {

                }
            });
        }
    }
});
}

function save(bid) {

}



</script>
</html>
