/*
body {
	text-align: center;
}
*/
.input-group {
	width: 35%;
}

ol {
  white-space: nowrap;
}
ol, li {

  list-style: none;
  display: inline;
}

@media (max-width: 500px) {
    .desktop-only {
        display:none !important;
    }
}

.outerblock {
	background-color: #f4eac8;
	border: solid;
	border-width: 3px;
	border-color: #dddddd;
	margin: 1em;
}
.currentdesign-view {
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding-top: 100%;
	overflow: hidden;
}
.footer-desc {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1em;
	text-align: justify;
	border: solid;
	border-width: 2px;
	border-color:inherit;
}

.block-header {
	display: inline;
  font-weight: bold;
}

@media only screen and (min-width:320px) and (max-width: 500px) {
    .input-group {
        width: 50%;
    }
    #title {
        font-size: 32px;
    }
    #logo {
        width: 70%;
        margin-top: -20%;
    }
    body {
        overflow-x: hidden;
    }

    #title {
        margin-top: -20%;
        text-align: center;
    }
    #profileinfo p {
        margin-left: 1%;
    }
    #aclogo {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -15%;
    }
    #createaccheader {
        text-align: center;
        margin-top: -12%;
    }
    #recentmade h2 {
        padding-left: 5%;
    }
    #loginbtn {
        width: 35%;
    }
    #userfav h2 {
        padding-left: 5%;
    }
    .navbar-brand {
        font-size: 90%;
    }

}


@media only screen and (min-width: 1225px) {
	#aclogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        margin-top: -5%;
    }
    #createaccheader {
        margin-top: -5;
    }
    #logo {
		margin-top: -5px;
		height: 35%;
	}
	#title {
		margin-top: 0%;
		text-align: center;
	}
    #loginbtn {
        width: 7%;
    }
    #profileinfo {
        width: 30%;
        margin-left: 3%;
        margin-top: 2%;
    }
    #profileinfo p {
        margin-left: 2%;
    }
    #recentmade {
        float: right;
        width: 60%;
        position: relative;
        margin-top: -27%;
    }
    #recTitle {
        margin-left: 1.3%;
    }

    #userfav {
        float: right;
        width: 60%;
        position: relative;
        margin-top: -10%;
    }

.column {
  width: 20%;
  height: 20%;
  margin: auto;
}

#selectable {
	margin-left: 5%;
	margin-top: 2%;
}

.form-control.form-control-lg.b {
	width: 30%;
    margin-top: 3%;
	margin-right: 4%;
	margin-left: -2%;
	display: block;
}

.cmdb {
	width: 20%;
	margin-top: 10%;
	margin-right: 4%;
	margin-left: -2%;
}

.ui-state-default {
	width: 50px;
}

#cmdS {
	margin-top: -9.1%;
	margin-left: 25%;
	visibility: hidden;
	display: inline-block;
	float:left;
	width: 50%;

}

#filepath {
	display: inline-block;
	margin-top: -23%;
	visibility: hidden;
}

#currentcmds {
		/*border-style: solid;*/
		width: 27%;
		height: 10%;
		float: left;
		top: -64%;
		margin-left: 35%;
		position: relative;
}

#currentdesign {
	border-style: solid;
		width: 27%;
		height: 53%;
		float: left;
		top: -64%;
		margin-left: 5%;
		position: relative;
        margin-top: -3%;
    }

    table, td {
	    border: 1px solid black;
    }

    td {
	    width: 30%;
	    text-align: center;
    }
    #bb {
        padding-top: 2%;
        border: none;
    }

    #searchtable td {
        border: none;
        padding-bottom: 3%;
    }
    #sortbybtn {
        margin-bottom: 2%;
        margin-left: 3.5%;
    }
}
